<footer>
  Contact us directly at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  <a href="//www.securitymetrics.com/site_certificate?id=2073493&tk=42055c25363a43bda9cb643ddb5ed21b"
   target="_blank" rel="noopener noreferrer">
   <img src="https://www.securitymetrics.com/portal/app/ngsm/assets/img/BlueContent_PCI_Validation_White_Sqr.png"
   alt="SecurityMetrics PCI validation certification logo"
   class="security-badge"/>
</a>
</footer>
