<section id="contact" class="py-5">
  <div class="container">
  <h1>Contact us / Request Demo </h1>
 <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="e50c1918-e93d-42fb-9e65-61034627632f">
  <!-- Anti-spam honeypot -->
  <input type="text" name="_honey" style="display:none">

  <!-- Redirect after submit -->
 <input type="hidden" name="redirect" value="https://shalomcloud.com/contact.html">

  <!-- Your form fields -->
  <div class="form-grid">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <label for="organization">Organization</label>
    <input type="text" id="organization" name="organization" required>
    <label for="message">Message</label>
	  <input type="text" id="message" name="message">
    <input type="submit" value="Submit">
    
  </div>
  </form>
  </div>
</section>
