<div class="row">
  <%= render "feature_card", title: "Title 1" do %>
    This is the content for the first column.
  <% end %>
  <%= render "feature_card", title: "Title 2" do %>
    This is the content for the second column.
  <% end %>
  <%= render "feature_card", title: "Title 3" do %>
    This is the content for the third column.
  <% end %>
</div>
